 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 217px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 54px auto 0 80px;
}

.u-section-1 .u-text-2 {
  margin: 7px auto 60px 80px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1380px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 614px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-group-1 {
  min-height: 308px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  width: 507px;
  margin: 86px 33px 0 30px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-2 .u-image-1 {
  width: 202px;
  height: 202px;
  background-image: url("images/WhatsAppImage2020-11-19at21.58.57.jpeg");
  background-position: 50% 50%;
  margin: -127px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 40px 20px 0;
}

.u-section-2 .u-social-icons-1 {
  height: 43px;
  min-height: 16px;
  width: 149px;
  min-width: 68px;
  margin: 36px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-image-2 {
  width: 397px;
  height: 117px;
  margin: 11px auto 0 24px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 614px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 29px;
}

.u-section-2 .u-group-2 {
  min-height: 294px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  width: 510px;
  margin: 0 11px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 20px;
}

.u-section-2 .u-image-3 {
  width: 202px;
  height: 202px;
  background-image: url("images/5d2cc9d52600004a000447d8.jpeg");
  background-position: 50% 50%;
  margin: -135px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px 20px 0;
}

.u-section-2 .u-social-icons-2 {
  height: 43px;
  min-height: 16px;
  width: 149px;
  min-width: 68px;
  margin: 24px auto 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-image-4 {
  width: 503px;
  height: 142px;
  margin: 11px 20px 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 626px;
}

.u-section-2 .u-container-layout-5 {
  padding: 5px 30px;
}

.u-section-2 .u-group-3 {
  min-height: 310px;
  margin-top: 107px;
  margin-bottom: 0;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 20px;
}

.u-section-2 .u-image-5 {
  width: 202px;
  height: 202px;
  background-image: url("images/Sem-titulo-2.png");
  background-position: 50% 50%;
  margin: -118px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 37px 20px 0;
}

.u-section-2 .u-social-icons-3 {
  height: 43px;
  min-height: 16px;
  width: 149px;
  min-width: 68px;
  margin: 17px auto 0;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-icon-8 {
  height: 100%;
}

.u-section-2 .u-icon-9 {
  height: 100%;
}

.u-section-2 .u-image-6 {
  width: 424px;
  height: 165px;
  margin: 19px auto 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 626px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-group-4 {
  min-height: 294px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 20px;
}

.u-section-2 .u-image-7 {
  width: 202px;
  height: 202px;
  background-image: url("images/382711993-0.jpeg");
  background-position: 50% 50%;
  margin: -110px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px 20px 0;
}

.u-section-2 .u-social-icons-4 {
  height: 43px;
  min-height: 16px;
  width: 149px;
  min-width: 68px;
  margin: 15px auto 0;
}

.u-section-2 .u-icon-10 {
  height: 100%;
}

.u-section-2 .u-icon-11 {
  height: 100%;
}

.u-section-2 .u-icon-12 {
  height: 100%;
}

.u-section-2 .u-image-8 {
  width: 397px;
  height: 117px;
  margin: 15px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    margin-right: 0;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 609px;
  }

  .u-section-2 .u-group-2 {
    width: 470px;
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    width: 470px;
    height: 133px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 609px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    width: 410px;
    height: 160px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 609px;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 360px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 360px;
    height: 106px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 631px;
  }

  .u-section-2 .u-group-2 {
    width: 360px;
  }

  .u-section-2 .u-image-4 {
    width: 360px;
    height: 102px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 668px;
  }

  .u-section-2 .u-image-6 {
    width: 300px;
    height: 117px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 668px;
  }

  .u-section-2 .u-image-8 {
    width: 300px;
    height: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 556px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 526px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 556px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 96px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 605px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}