.u-section-1 .u-sheet-1 {
  min-height: 342px;
}

.u-section-1 .u-icon-1 {
  width: 183px;
  height: 183px;
  margin: 74px auto 0 93px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: -128px 106px 60px auto;
}